.box h1{
    text-align: center;
}
.listbox{
    margin-top: 30px;
    display:flex;
    justify-content: start;
    flex-wrap: wrap;
}
.listbox>div{
    border: 1px solid #333;
    padding: 10px;
    margin: 15px;
    width: 150px;
    height: 200px;
    text-align: center;
}
.listbox>div>img{
    width: 120px;
    height: 120px;
}